@CHARSET "UTF-8";

body {
	margin: 0px;
	background: #EFEFEF;
}

body, td
{
	font-family: Verdana;
	font-size: 13px;
}

div, input /** Layers will be rounded **/
{
	border: 0px;
	/* For Mozilla */
	-moz-border-radius:10px;
	/* For Konqueror and Safari */
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	/* Normal form */
	border-radius:10px; 	
}

#main {
	width: 1000;
	height: 100%;
	margin: 0px auto;
	padding-top: 10px;
}

#title {
	display: block;
}

#right-column {
	width: 400px;
	background-color: #CDCDCD;
	float: right;
	padding: 10px;
	border: 1px solid black;
}

#bplayer-div {
	width: 505px;
	margin-left: 20px;
	background-color: #CDCDCD;
	padding: 10px;
	float: left;
	border: 1px solid black;
}

span.title, #bplayer-div, input.bbutton
{
	font-weight: bold;
}

div.form-c
{
	background-color: #EEEEEE;
	margin: 10px;
	padding: 10px;
}

input.bbutton
{
	/*width: 80px;*/
	height: 30px;
	border: 1px solid black;
	color: white;
	cursor: hand;
	
	/* for non-css3 browsers */
	background: #CECECE;
	/* for IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000');
	/* for webkit browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
	/* for firefox 3.6+ */
	background: -moz-linear-gradient(top,  #ccc,  #000);
}

input.bbutton:hover
{
	/* for non-css3 browsers */
	background: #FEFEFE;
	/* for IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#cccccc');
	/* for webkit browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ccc));
	/* for firefox 3.6+ */
	background: -moz-linear-gradient(top,  #000,  #ccc);
}

input.btext, input.btext2
{
	border: 2px solid black;
	background-color: #FEFEFE;
	float: right;
}

input.btext
{
	width: 60px;
	height: 30px;
	text-align: right;
	padding-right: 8px;
}
input.btext2
{
	width: 200px;
	height: 20px;
	padding-left: 10px;
}

.playbackControls{
	display: block;
	list-style-type: none;
}

.playbackControls li{
	float: left;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1.0)), to(rgba(216,216,216,1.0)));
	background: -moz-linear-gradient(top, rgba(255,255,255,1.0), rgba(216,216,216,1.0));
}

.recordingControls{
	display: block;
	list-style-type: none;
}

.controlBtn{
	height: 18px;
	width: 18px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(167,167,167,1.0);
}

.controlBtn:hover{
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(158,58,255,1.0)), to(rgba(68,58,216,1.0)));
	background: -moz-linear-gradient(top, rgba(158,58,255,1.0), rgba(68,58,216,1.0));
}

.playPauseBtn{
	border-color:transparent transparent transparent #000000;
	border-style:solid;
	border-width:6px 0 6px 10px;
	float:left;
	height:0;
	text-indent:-9999px;
	width:0;
}
